#packing-slip {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: -1000;
  border: none;
}

@media print {
  @page {
    size: A6;
    margin: 0;
  }
  body * {
    visibility: hidden !important;
  }
  #packing-slip,
  #packing-slip * {
    visibility: visible !important;
  }
  #packing-slip {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 105mm !important;
    height: 148mm !important;
    z-index: 9999 !important;
    opacity: 1 !important;
    display: block !important;
    overflow: visible !important;
    border: 2px solid black;
  }
}
